@import '../../responsive.scss';

nav{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
    padding: 20px;

    .navbar{
        display: flex;
        flex: 3;
        align-items: center;
        gap: 50px;
        color: #fff;
        padding: 50px;

        span{
            
            font-size: 40px;
            @include md{
                display: none;
            }
            @include sm{
                display: initial;
            }
        }
    }
    
}